
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon in melon_order %}
        <tr>
            <td>{{melon.melon_id}}</td>
            <td>{{melon.quatity}}</td>
            <td>{{melon.price}}</td>
            <td>{{melon.melon_type_total}}</td>
        </tr>
        {% endfor %}
        <!-- <tr>
            <td>Charleston Gray</td>
            <td>2</td>
            <td>$2.00</td>
            <td>$4.00</td>
        </tr>
        <tr>
            <td>Crenshaw</td>
            <td>1</td>
            <td>$2.00</td>
            <td>$2.00</td>
        </tr>
        <tr>
            <td>Ledmon Watermelon</td>
            <td>2</td>
            <td>$3.00</td>
            <td>$6.00</td>
        </tr> -->
        </tbody>
    </table>

    <h3>{{total_cost}}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
